<span class="npc-gen-grid">
    <span class="center">
        <h1>WHO GOES THERE?</h1>
        <em><span class="rotate-arrow">&#8626;</span>randomized NPCS for swords & sworcery games</em>
    </span>
    <span class="center">
        <strong class="center reroll" (click)="rollAll()">someone new approaches</strong>
        <em><span class="rotate-arrow">&#8626;</span>click to re-roll</em>
    </span>
    
    <div #introduction>
        You encounter <strong (click)="reRollName()">{{nameObj.descrip}}</strong> <strong (click)="reRollGorgonLifecycle()" *ngIf="speciesObj.species.name === 'Gorgon'">, {{gorgonTitle.lifeCycle.descrip}}</strong><strong (click)="reRollGorgonPosition()" *ngIf="speciesObj.species.name === 'Gorgon'"> {{gorgonTitle.position.descrip}}</strong> (<strong (click)="reRollMainPronoun()">{{pronounsObj.pronouns_main}}</strong>/<strong (click)="reRollSecondaryPronoun()">{{pronounsObj.pronouns_secondary}}</strong>).
    </div>
    <div #mainDescription>
        {{pronounsObj.pronouns_main}} {{pronounsObj.pronouns_main === 'They' ? 'are' : 'is'}} {{speciesStartsWithVowel ? 'an' : 'a'}} <strong (click)="reRollSpecies()">{{speciesObj.species.name}}</strong> with <strong (click)="reRollSkinTone()">{{this.skinObj.descrip}}</strong> {{skinAdjective}} and a <strong (click)="reRollBuild()">{{buildObj.descrip}}</strong> build.
        <span *ngIf="noHair; else hairSection">
        </span>
        <ng-template #hairSection>
            <span *ngIf="hairObj.hairLength !== 'bald'; else baldSection">
                {{pronounsObj.pronouns_main === 'He' ? 'His' : pronounsObj.pronouns_main === 'She' ? 'Her' : 'Their'}} <strong (click)="reRollHairColor()">{{hairObj.hairColor}}</strong> {{speciesObj.species.name === 'Gorgon' ? 'snakes are' : 'hair is'}} <strong (click)="reRollHairType()">{{hairObj.hairType}}</strong> and <strong (click)="reRollHairLength()">{{hairObj.hairLength}}</strong>.
            </span>
        </ng-template>
        <ng-template #baldSection>
            <strong (click)="reRollHairLength()">{{pronounsObj.pronouns_main === 'He' ? 'He is' : pronounsObj.pronouns_main === 'She' ? 'She is' : 'They are'}} completely bald.</strong>
        </ng-template>
        <span>
            {{pronounsObj.pronouns_main}} {{pronounsObj.pronouns_main === 'They' ? 'have' : 'has'}} <strong (click)="reRollEyeColor()">{{eyeColorObj.descrip}}</strong> eyes<span *ngIf="!specialSpeciesDescripObj.descrip">.</span>
            <span *ngIf="specialSpeciesDescripObj.descrip">
                and <strong (click)="assignSpecialDescrip()">{{specialSpeciesDescripObj.descrip}}</strong>.
            </span>
        </span>
    </div>
    <div #distinguishingFeatures>
        {{pronounsObj.pronouns_main === 'He' ? 'His' : pronounsObj.pronouns_main === 'She' ? 'Her' : 'Their'}} most distinguishing feature is/are <strong (click)="reRollDistinguishingFeature()">{{distinguishingFeatureObj.descrip}}</strong>.
    </div>

    <span class="link">
        <strong class="copyButton" (click)="copyToClipboard()">{{copied ? 'copied!' : 'copy to clipboard?'}}</strong>
        <span>WHO GOES THERE?v1.6 is created by <strong><a href='https://twitter.com/codeLiches' target="_blank">@codeLiches</a></strong></span>
    </span>
</span>